@use "../styles/mixins" as mixins;
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #2f7f6d; /* theme color */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.8s linear infinite;
}
.end{
  @include mixins.flex();
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
