@import "../../../styles/_mixins.scss";



// @import "../../../styles/mixins";




.bg {
  position: absolute;
  // @include flex(space-between);
  inset: 0; // t;op:0 right:0 bottom:0 left:0
  z-index: 0;
}

.bg canvas {
  width: 100% !important;
  height: 100% !important;
}

.content {
  position: relative;
  // border: 1px solid red;
  // width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  // margin: 5rem;
  // padding: 5rem;
  width: 100%;
  height: 100%;
}
.loginPage {
  min-height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  // display: grid;
  // grid-template-columns: 1.1fr 1fr;
  @include flex();
  // flex-direction: row;
  // justify-content: space-between;
  
  // grid-template-columns: 1fr;
  background: linear-gradient(135deg, var(--sec), var(--pri));
  color: var(--text);
  font-family: "Inter", sans-serif;
}

/* LEFT SIDE */
.left {
  padding: 4rem;
 @include flex();
 flex-direction: column;

  h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;

    span {
      font-weight: 800;
    }
  }

  p {
    opacity: 0.8;
    max-width: 320px;
  }
}

/* RIGHT SIDE */
.right {
 @include flex();
}

/* GLASS CARD */
.card {
  width: 345px;
  margin: 1rem;
  padding: 2.5rem;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  label {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    opacity: 0.9;
  }

  input {
    // padding: 0.7rem 0.9rem;
    width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
    // border-radius: 6px;
    border: none;
    margin-bottom: 1rem;
    font-size: 0.85rem;
  }

  input:focus {
    outline: 2px solid var(--fav);
  }
}

/* EXTRA */
.forgot {
  font-size: 0.75rem;
  text-align: right;
  margin-bottom: 1.5rem;
  cursor: pointer;
  opacity: 0.85;
}

/* BUTTON */
button {
  background: var(--fav);
  width: 100%;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

  span {
    margin-left: 6px;
  }

  &:hover {
    background: var(--pri);
    transform: translateY(-2px);
  }
}

/* SIGNUP TEXT */
.signup {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1.2rem;

  span {
    font-weight: 600;
    cursor: pointer;
  }
}

/* RESPONSIVE */
@media (max-width: 540px) {
  .right{
    // background: #000;
    margin-right:  .5rem;
    width: 60%;
  }
  .left{
    width: 40%;
    margin-left:  .5rem;
    // aspect-ratio: 1/1;
  }
}
@include responsive(tablet){.card {
    .loginPage {
    grid-template-columns: 1fr;
  }

  .left {
    display: none;
  }

  .card {
    width: 90%;
    max-width: 360px;
  }
  }}
@include responsive(mobile){
  // .loginPage {
  //   grid-template-columns: 1fr;
  // }
  .left {
    display: none;
  }
  .right{
    width: 100%;
  }

  .card {
    // padding: 2rem 1.5rem;
     width: 100%;
    // max-width: 360px;
    
  }}
// @media (max-width: 480px) {
  
// }

/* main card that contains the hero + form */
