@import '../styles/mixins';
.formContainer {
  @include flex(center, center, column);
  gap: .5rem;
  // border: 1px solid red;
  // padding: 0;
   input{
    text-align: center;
    // padding: 0;
  
  }
}
